/* Properties across all pages */
body{
    font-family: 'Montserrat', sans-serif;
}

.social-icon {
    height: 25%;
    opacity: 0.5;
    padding: 0px 3px;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 90px;
    text-align: center;
}

h3 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

h5 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    text-align: center;
}

.nav{
    text-align: center;
}

.top-row{
    height: 90px;
}

a {
    color: #ffc200;
    font-weight: bold;
}

a:hover{
    color: #ffc200;
    text-shadow: 1px 1px lightgrey;
}

.top-name {
    padding-top: 10px;
}

.social-nav{
    text-align: center;
}

/* Index Page */
.technically {
    text-align: center;
}


/* Who Page */
.profile-pic {
    float: left;
    border-radius: 50%;
    height: 250px;
    padding-right: 20px;
}

.top-row{
    padding: 10px;
}


/* Contact Page */
#firstName, #lastName {
    float: left;
    width: 50%;
}

#firstName {
    padding: 0 25px 0 0;
}

label {
    font-weight: bold;
}

.talk-graph{
    text-align: center;
}

/* Work Page */
.card {
    float: left;
    width: 33%;
}


/* Media Queries Start Here */
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .main-top-row{
        height: 50px;
    }
    
    .card {
        width: 100%;
    }


}